body, header{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

table h3 {
	float: left;
	font-weight: normal;
	text-align: center;
	width: 200px;
	padding: 0 20px;
}

h1, h2 {
	text-align: center;
	font-weight: normal;
}

td p, td input {
	display: inline;
}

h1 {
	font-size: 3em;
}

table, #sifted , #involved{
	margin: 10px auto 25px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 15px 5px #E3E3E3;
	padding: 20px;
	width: 800px;
	border-spacing: 0;
}

#involved label {
	display: block;
}

td {
	width: 200px;
	text-align: center;
}

/*tr.hovered {
	background-color: #DDFCFF;
}*/

img {
	float: right;
}

td.delcell {
	width: 25px;
}

td.editing p, p.shared-editing{
	display: none;
}

td.editing input, input.shared-editing{
	display: block;
}

td input {
	display: none;
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
}

#add {
	margin: 50px auto;
	width: 600px;
	background: #CFF;
	padding: 0 20px 20px;
	display: none;
}

#add p {
	display: inline-block;
	padding-right: 10px;
	width: 120px;
	text-align: right;
	margin: 0;
}

#add:before {
	content: "";
	position: relative;
	top: -50px;
	left: 50px;
	border-width: 0 50px 50px;
	border-style: solid;
	border-color: #CFF transparent;
	display: block;
	width: 0;
}

#add input {
	clear: right;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 1em;
	margin-top: 5px;

}

.added {
	position: relative;
	left: 130px;
}

.new-line {
	margin: 10px auto;
	width: 525px;
}

#splitEqual, #send {
	display: inline-block;
	clear: both;
	width: 135px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	background-color: #ddd;
}

#splitEqual p, #send p {
	width: 120px;
	text-align: center;
	padding: 10px;
}

#splitEqual:hover, #send:hover{
	background-color: #bbb;
	cursor: pointer;
}

.new-share {
	margin-right: 15px;
}

.added .new-share {
	margin-right: 10px;
}


.delete, .delete-add, #close-add {
	width:20px;
	height:20px;
	border-radius:50px;
	font-size:.75em;
	color: white;
	text-align:center;
	text-decoration:none;
	background:red;
	display: inline-block;
	margin: 5px;
}

.delete:hover, .delete-add:hover, #close-add:hover {
	background-color: rgb(175,10,10);
	cursor: pointer;
}

#add-button {
	width: 130px;
	padding: 10px;
	margin: 10px auto;
	background: #ddd;
	text-align: center;
}

#add-button:hover, .add-share:hover, #sift:hover{
	background-color: #bbb;
	cursor: pointer;
}

#add.adding{
	display: block;
}

#add-button.adding{
	display: none;
}

.add-share {
	width:20px;
	height:20px;
	border-radius:50px;
	font-size:.75em;
	color: black;
	text-align:center;
	text-decoration:none;
	background:#ddd;
	display: inline-block;
	margin-left: 5px;
}

#math {
position: relative;
width: 410px;
height: 35px;
padding: 5px;
background: #FFFFFF;
border: #7F7F7F solid 0px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#math:after 
{
content: "";
position: absolute;
top: 12px;
left: -15px;
border-style: solid;
border-width: 10px 15px 10px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
}

.whoShared, .amtShared, .whoShared-edit, .amtShared-edit {
	float: left;
	padding: 0 20px;
}

.amtShared, .amtShared-edit {
	clear: right;
}

.whoShared, .whoShared-edit {
	clear: left;
}

#sift {
	width: 160px;
	padding: 10px;
	margin: 10px auto 30px;
	background: #ddd;
	text-align: center;
	font-size: 1.75em;
}

#sifted {
	margin: 20px auto;
	text-align: center
}

.hidden {
	display: none;
}

#close-add {
	float: right;
	position: relative;
	top: -30px;
}

.whoShared-edit, .amtShared-edit{
	width: 100px;
}

.evenbox {
	background-color: #f2f2f2;
}

#user-infos input {
	display: none;
}

#user-infos input.edit {
	display: inline;
}

#user-infos p.edit {
	display: none;
}
