body, header{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
}

h3 {
	float: left;
	font-weight: normal;
}

h1, h2 {
	text-align: center;
	font-weight: normal;
}

table {
	margin: 0 auto;
}

td {
	width: 200px;
}

td.editing p{
	display: none;
}

td.editing input{
	display: block;
}

td input {
	display: none;
}

#add {
	margin: 0 auto;
	width: 300px;
}

#add p {
	display: inline-block;
	padding-right: 10px;
	width: 100px;
	text-align: right;
	margin: 10px 0;
}

#add input {
	clear: right;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 1em;
}

#add .split-button {
	display: inline-block;
	width: 120px;
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: #ddd;
}

#add .split-button p {
	width: 120px;
	text-align: center;
}

#add .split-button:hover{
	background-color: #bbb;
	cursor: pointer;
}

#send:hover {
	cursor: pointer;
}

.delete {
	width:20px;
	height:20px;
	border-radius:50px;
	font-size:.75em;
	color: white;
	text-align:center;
	text-decoration:none;
	background:red;
	display: inline-block;
	margin: 5px;
}

.delete:hover {
	background-color: rgb(175,10,10);
	cursor: pointer;
}

#add-button {
	width: 130px;
	padding: 10px;
	margin: 10px auto;
	background: #ddd;
	text-align: center;
}

#add-button:hover{
	background-color: #bbb;
	cursor: pointer;
}

#add {
	display: none;
}

#add.adding{
	display: block;
}

#add-button.adding{
	display: none;
}
